/****** Object:  Table [dbo].[Tbl1]    Script Date: 3/1/2018 02:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl1](
	[ID] [int] NULL,
	[Name] [nvarchar](2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl2]    Script Date: 3/1/2018 02:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl2](
	[ID] [float] NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl3]    Script Date: 3/1/2018 02:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl3](
	[ID] [float] NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl4]    Script Date: 3/1/2018 02:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl4](
	[ID] [float] NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Tbl1] ([ID], [Name]) VALUES (1, N'a')
GO
INSERT [dbo].[Tbl1] ([ID], [Name]) VALUES (2, N'b')
GO
INSERT [dbo].[Tbl1] ([ID], [Name]) VALUES (3, N'c')
GO
INSERT [dbo].[Tbl2] ([ID], [Name]) VALUES (1, N'a')
GO
INSERT [dbo].[Tbl2] ([ID], [Name]) VALUES (2, N'b')
GO
INSERT [dbo].[Tbl2] ([ID], [Name]) VALUES (3, N'c')
GO
INSERT [dbo].[Tbl3] ([ID], [Name]) VALUES (12, N'l')
GO
INSERT [dbo].[Tbl3] ([ID], [Name]) VALUES (13, N'm')
GO
INSERT [dbo].[Tbl3] ([ID], [Name]) VALUES (14, N'n')
GO
INSERT [dbo].[Tbl4] ([ID], [Name]) VALUES (1, N'a')
GO
INSERT [dbo].[Tbl4] ([ID], [Name]) VALUES (2, N'b')
GO
INSERT [dbo].[Tbl4] ([ID], [Name]) VALUES (3, N'c')
GO
